DATABASE_URL=postgresql://postgres:[P-7nHtwrEyuq6s9]@db.lyydqdochoxzbjbrkuie.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://lyydqdochoxzbjbrkuie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_qr1CKythugeQdTVpZkNA-Q_ED9_IdRG
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5eWRxZG9jaG94emJqYnJrdWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjQ1ODAyMiwiZXhwIjoyMTAyMDM0MDIyfQ.4OmcfHhSP7z4U8J2WIEOumylMVn1uZjowXguAumo6Ho
REDTOURS_ADMIN_USER=
REDTOURS_ADMIN_PASSWORD=
REDTOURS_AUTH_SECRET=
